@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 31, 36);
    color: #F4F4F9;
    padding: 30px;
}

.header h1 {
    color: white;
    font-family: poppinsregular;
}

.header a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-right: 15px;
    font-family: 'Mont';
}

.header a:hover {
    border-bottom: 1px solid #0B4F6C;
    padding: 6px 10px;
    transition: 0.7s;
    
}

.header ul {
    display: inline-block;
}


.conteudo-principal h1, .container-conteudo h1, .conteudo-sdi h1, .conteudo-ads h1 {
    font-size: 30px;
    padding: 10px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-family: poppinsregular;
    /* background-color: #0b4f6c3d; */
    background-color: #444;
    color: #0B4F6C; 
 
}

.conteudo-principal p, .container-conteudo p{
    margin: auto;
    font-family: poppins-light;
}

.container-conteudo {
    padding: 10px 25px;
}

.ads-principal {
    border-left: 1px solid rgba(255, 255, 255, 0.979);
    border-right: 1px solid rgba(255, 255, 255, 0.979);
}

.img-anc img {
    width: 150px;
    padding: 5px;
    margin: 10px;
}

.conteudo-sdi, .conteudo-ads, .conteudo-aux, .conteudo-qds{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 31, 36);
    padding: 35px;
    font-family: poppinsregular;
    color: #F4F4F9;
}


.conteudo-abi, .conteudo-gpti, .conteudo-programa  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
     /*background-color: #0b4f6c3d;*/
     background-color: #777;
    font-family: poppinsregular;
    color: #0B4F6C;
    padding: 35px;
}


.image img {
    width: 550px;
    height: 400px;
}

