@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/assets/images/background4.jpg);
    background-size: 100%;
    color: #c4c3ca;
    font-family: poppinsregular;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    font-size: 25px;
    color: #ffeba7;
}

.title-header {
    border-bottom: 1px solid white;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container {
    height: 300px;
    max-width: 50%;
    height: 60vh;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #ffeba7;
    background-color: rgba(0, 0, 0, 0.808);
}

.conteudo-principal p {
    font-family: poppins-light;
    line-height: 1.5;
}

.title-container {
    margin: 15px 0px;
    color: #ffeba7;

}

.paragrafo-container {
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.topicos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.txt-topicos {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botao button {
    margin: 15px 0px;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background-color: #ffeba7;
    color: black;
    cursor: pointer;
    font-family: poppins-light;
}

.txt-topicos h1 {
    color: #ffeba7;;

}
